@import "~bulma/css/bulma.min.css";

.bg-img-container{
    width: 100%;
    height: 50vh;
    margin-bottom: 1rem;
    background-position: center;
    background-size: cover
}

.has-fixed-nav{
    padding-top: 3rem;
}

.random-bg-img{
    background-image: url('https://source.unsplash.com/random');
}